{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Manage Account</h1>

    <form>
        <div class="input">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-product-id">Id</span>
                <input type="text" placeholder="Please enter a number for the product Id" class="form-control" aria-label="Product Id input" aria-describedby="inputGroup-product-id">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-product-name">Name</span>
                <input type="text" placeholder="Please enter some text for the name" class="form-control" aria-label="Product name input" aria-describedby="inputGroup-product-name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-product-short-description">Short Description</span>
                <textarea placeholder="Please enter some text for the short description" class="form-control" aria-label="With textarea" aria-describedby="inputGroup-product-short-description"></textarea>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-product-brand">Brand</span>
                <input type="text" placeholder="Please enter some text for the brand" class="form-control" aria-label="Product brand input" aria-describedby="inputGroup-product-brand">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-product-size">Size</span>
                <input type="text" placeholder="Please enter some text for the size" class="form-control" aria-label="Product size input" aria-describedby="inputGroup-product-size">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-product-color">Color</span>
                <input type="text" placeholder="Please enter some text for the color" class="form-control" aria-label="Product color input" aria-describedby="inputGroup-product-color">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-product-price" name="inputGroup-product-price">Suggested Retail Price</span>
                <span class="input-group-text">HK$</span>
                <input type="number" placeholder="Please enter a number for the price" class="form-control" aria-label="Product color input" aria-describedby="inputGroup-product-color">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-product-image" name="inputGroup-product-image">Product Image</span>
                <input class="form-control" type="file" id="inputGroup-product-image" aria-label="Product image input" aria-describedby="inputGroup-product-image">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-inventory-quantity">Quantity in Stock</span>
                <input type="number" placeholder="Please enter a number for the quantity in stock" class="form-control" aria-label="Product quantity input" aria-describedby="inputGroup-inventory-quantity">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-inventory-out-of-stock-reason">Reason out of Stock</span>
                <textarea placeholder="Please enter some text for the reason of item being out of stock" class="form-control" aria-label="With textarea" aria-describedby="inputGroup-inventory-out-of-stock-reason"></textarea>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-inventory-reorder-point">Inventory reorder point</span>
                <input type="number" placeholder="Please enter a number for the inventory reorder point" class="form-control" aria-label="Product reorder point input" aria-describedby="inputGroup-inventory-reorder-point">
                <span class="input-group-text">Days</span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-inventory-max-stock">Maximum stock</span>
                <input type="number" placeholder="Please enter a number for the maximum stock" class="form-control" aria-label="Product max stock input" aria-describedby="inputGroup-inventory-max-stock">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-inventory-restock-date">Restock date</span>
                <input type="date" placeholder="Please enter a number for the restock date" class="form-control" aria-label="Product restock date input" aria-describedby="inputGroup-inventory-restock-date">
            </div>
        </div>
        <div class="btn-group">
            <a href="#"><button type="button" class="btn btn-outline-success me-1">Create</button></a>
            <a href="#"><button type="button" class="btn btn-outline-secondary me-1">Read</button></a>
            <a href="#"><button type="button" class="btn btn-outline-primary me-1">Update</button></a>
            <a href="#"><button type="button" class="btn btn-outline-warning me-1">Delete</button></a>
            <button type="reset" class="btn btn-outline-danger me-1" onclick="this.form.reset();">Reset</button>
        </div>
    </form>

    <p><a href="{{ url_for('about') }}">To About Us page</a></p>
{% endblock %}